<h1>Frontend Engineer Form</h1>

<form [formGroup]="frontendEngineerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">
      First Name:
      <input id="firstName" type="text" formControlName="firstName">
    </label>
  </div>

  <div>
    <label for="lastName">
      Last Name:
      <input id="lastName" type="text" formControlName="lastName">
    </label>
  </div>

  <div>
    Date of birth:
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    Select framework
    <select formControlName="framework">
      <option
        *ngFor="let info of frameworksInfo"
        [ngValue]="info.name"
        (change)="selectFramework($event)"
      >
        {{info.name}}
      </option>
    </select>
  </div>

  <div>
    Select framework version
    <select formControlName="frameworkVersion">
      <option>
        1
      </option>
    </select>
  </div>

  <div>
    <label for="email">
      Enter your email:
      <input id="email" type="email" formControlName="email">
    </label>
  </div>

  <div formArrayName="hobby" *ngFor="let f of hobby.controls; let i=index">
    <label for="hobby">
      Enter hobby:
      <input id="hobby" type="text" [formControlName]="i">
      <button type="button" (click)="removeHobby(i)">X</button>
    </label>
  </div>

  <button type="button" (click)="addHobby()">Add another hobby</button>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>